:root{
    --title-color: #322153;
    --primary-color: #34cb79;
    --background-color: #f0f0f5;
}

/* sobrepõe o comportamento padrão */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background: var(--background-color);
    --webkit-font-smoothing: antialiased; 
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif;
    color: var(--title-color);
}

/* BOX MODEL 
Toda caixa tem
largura, altura, espaçamentos, preeenchimentos
bordas, cor, fundo, maneira que é vista pelo html (display)
posicionamento, alinhamentos
*/

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--primary-color)
}

::-webkit-scrollbar-thumb{
    background-color: #322153;
}









